#intro {
	border: 1px solid black;
}

.spotlight {
	background-color: #FEFE22;
}

p, h2{
	text-decoration: line-through;
	font-size: 12;
    /*color: #0000ff;*/
    color: #006400;
}

p a{
	color: orange;
}

h1 {
	margin: 20px;
	padding: 40px;
	text-transform: uppercase;
	color: #888888;
	border-style: dashed;
    border-width: 5px;
    border-color: red;
}

h2 {
	text-decoration: underline;
	/*color: #888888;*/
}

body {
	background-image: url("paper.gif");
	border-style: solid;
    font-family: arial, sans-serif;
    font-size: 12px;
}

table {

	border-style: dashed;
}

img {
	border-style: double;
}